body {
  background-color: #f7f7f7;
}

/* navigation bar title header */

.navManCss {
  background-color: #f6416c;
}

.navbar-brand {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 3rem;
  padding: 1% 0 0 9%;
}

.navbar-brand:hover {
  color: #33313b;
}

@media (max-width:1280px) {
  .navbar-brand {
    position: relative;
    left: 310px;
  }
  .navbar-brand {
    font-size: 5rem;
  }
}

/* Sign-up-menu */
.sign-up-title {
  margin: 5% 0 0 10%;
  color: #afaaab;
  font-family: 'Inconsolata', monospace;
}

.row {
  margin-left: 9%;
}

.row2 {
  margin-right: 0;
}

.form-line {
  font-size: 0.9rem;
}

.btn-color {
  background-color: #f6416c;
  border-color: #f6416c;
}

.sign-up-button:hover {
  background-color:  #33313b;
}

.already-login {
  padding-top: 2%;
  margin-bottom: 0;
}

/* Image-bar */

.text-bar {
  margin: 0;
  padding: 5% 0 0 7%;
}

.text-bar-text {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 2.1rem;
}

.text-bar-text-letter {
  color: #f6416c;
}

.homepage-social-people {
  padding-right: 0.7rem;
}

.homepage-social-icon {
  padding-top: 10%;
}

@media (max-width: 1280px) {
  /* Sign-up-menu */
  .font1 {
    font-size: 2rem;
  }
  h1 {
    text-align: center;
  }
  .sign-up-title {
    text-align: center;
    margin: 5% 0 0 0;
    color: #afaaab;
    font-family: 'Inconsolata', monospace;
  }
  .text-bar1 {
    text-align: center;
  }
  .row {
    margin-left: 9%;
  }
  .card {
    text-align: center;
  }
  .row2 {
    margin-right: 0;
  }
  .form-bar {
    position: relative;
    left: 195px;
  }
  .form-line {
    font-size: 0.9rem;
  }

  .btn-color {
    background-color: #f6416c;
    border-color: #f6416c;
  }

  .sign-up-button:hover {
    background-color:  #33313b;
  }

  .already-login {
    padding-top: 2%;
    margin-bottom: 0;
  }
  /* Image-bar */

  .text-bar {
    text-align: center;
    position: relative;
    top: 700px;
    right:300px;
    margin: 0;
    padding: 5% 0 0 7%;
  }

  .text-bar-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 2.1rem;
  }

  .text-bar-text-letter {
    color: #f6416c;
  }

  .homepage-social-people {
    padding-right: 0.7rem;
  }

  .homepage-social-icon {
    padding-top: 10%;
  }
}

/* footer-tag */
.footer-tag {
  background-color: #33313b;
  margin: 5% 0 0 0;
  padding-bottom: 2%;
  padding-left: 22%;
}

.footer-fonts {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.83rem;
  padding: 0.9rem 1rem 0.3rem 1rem;
}

.footer-fonts:hover {
  color: grey;
}

.copyright-fonts {
  font-style: normal;
  font-size: 0.75rem;
  padding-left: 35.1%;
  color: grey;
}

@media (max-width: 1280px) {
  .footer-tag {
    position: relative;
    top: 500px;
    background-color: #33313b;
    margin: 5% 0 0 0;
    padding-bottom: 10%;
    padding-left: 22%;
  }

  .footer-fonts {
    position: relative;
    top: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    padding: 0.9rem 1rem 0.3rem 0.6rem;
  }

  .footer-fonts:hover {
    color: grey;
  }

  .copyright-fonts {
    position: relative;
    top: 50px;
    font-style: normal;
    font-size: 1rem;
    padding-left: 29.1%;
    color: grey;
  }
}
